@model List<SocialMedia>

@{
    ViewData["Title"] = "Sosyal Medya";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

@{
    int count = 0;
}

<table class="table table-borderer table-hover">
    <tr>
        <th>#</th>
        <th>Sosyal medya</th>
        <th>Url</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <td>@item.Name</td>
            <td>@item.Url</td>
            <td>
                <buton onclick="deleteSocialMedia(@item.SocialMediaId)" class="btn btn-outline-danger">Sil</buton>
                <br />
                <br />
                <a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-outline-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a href="/SocialMedia/CreateSocialMedia" class="btn btn-outline-primary">Sosyal medya hesabı ekle</a>


<script>
    function deleteSocialMedia(id)
    {
                            Swal.fire({
          title: "Silmek istediğinize emin misiniz?",
          text: "Bunu geri alamazsınız!",
          icon: "uyarı",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Evet Sil",
          cancelButtonText: "İptal!"
        }).then((result) => {
          if (result.isConfirmed) {
              window.location.href = "/SocialMedia/DeleteSocialMedia/"+id;
          }
        });
    }
</script>