
@*
    Default Hero Component
*@

<section id="hero" class="hero section">

    <img src="~/resimler/mezuniyet.jpg" alt="" data-aos="fade-in">

    <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 style="color:white">Abdullah Haktan</h2>
                <p style="color:white">Bilgisayar Mühendisi | Full-stack .net developer | Generative Aİ </p>
                <a href="about.html" class="btn-get-started">Hakkımda</a>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>

</section>