@*
    Admin Layout Side Bar
*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="/Statistics/Index/" class="b-brand text-primary">       
                <img src=@Url.Content("~/Mantis-Bootstrap-1.0.0/dist/assets/images/logo-dark.svg") type="image/x-icon" alt="logo">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item">
                    <a href="/Statistics/Index/" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
                        <span class="pc-mtext">İstatistikler</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Category/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-menu"></i></span>
                        <span class="pc-mtext">Kategoriler</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Project/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-briefcase"></i></span>
                        <span class="pc-mtext">Projelerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Skill/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-star"></i></span>
                        <span class="pc-mtext">Yeteneklerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Banner/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-award"></i></span>
                        <span class="pc-mtext">Öne Çıkan Alan</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/About/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-user"></i></span>
                        <span class="pc-mtext">Hakkımda</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Education/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-book"></i></span>
                        <span class="pc-mtext">Eğitim Hayatım</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Experience/Index" class="pc-link">
                        <span class="pc-micon">
                            <i class="fas fa-briefcase"></i>
                        </span>
                        <span class="pc-mtext">Deneyimlerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Inbox/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-message"></i></span>
                        <span class="pc-mtext">Gelen Mesajlar</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/Testimonial/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-award"></i></span>
                        <span class="pc-mtext">Referanslar</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/ContactInfo/Index" class="pc-link">
                        <span class="pc-micon"><i class="ti ti-phone"></i></span>
                        <span class="pc-mtext">İletişim Bilgilerim</span>
                    </a>
                </li>

                <li class="pc-item">
                    <a href="/SocialMedia/Index" class="pc-link">
                        <span class="pc-micon">
                            <i class="fas fa-share-alt"></i>
                        </span>
                        <span class="pc-mtext">Sosyal medya bilgileri</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
